@media screen and (max-width: 760px) {

    header {
        flex-direction: column;
        text-align:center;
        
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;

    }

    img {
        margin-top: 25px;
        width: 300px;
    }

    .rodape {
        font-size: 15px;
        margin-left: 0;
        margin-right: 0;
    }
    .siganos {
        font-size: 15px;
        margin-left: 20%;
        margin-right: 0;

    }

    .redes {
        margin-left: 20%;
        margin-right: 0;
        margin-bottom: 20px;
    }

}