body {
    
    color: white;
    font-family: poppinsregular;
    
}

header {
    background-color:#008B8B;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
}

#title {
    flex-direction: column;
    line-height: 35px;
    font-size: 35px;
    font-family: poppinsbold;
}

li {
    display: inline-block;
    margin: 25px;
}

a {
   color: white ; 
}

a:hover {
    color: #7FFFD4;
    transition: 0.3s all;

}

#portal-btn {
    border: 2px solid #7FFFD4;
    padding: 10px;
    border-radius: 15px;
}

#portal-btn:hover {
    background-color: #7FFFD4;
    color: white;
}

h1 {
   font-weight:bolder; 
}

main {
    background-color:#008B8B; 
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
    padding-left: 55px;
    padding-right: 55px;
}    

h2 {
    font-size: 56px;
    line-height: 50px;
    font-family: poppinsmedium;
  
}

span {
    color: #7FFFD4;
}

p {
    line-height: 21px;
    max-width: 500px;
    font-family: poppinslight;
    margin-top: 25px;
       
}

img {
    width: 600px;
    margin-left: 60px ;
   

}

#vaga-exemplo {
    width: 380px;
    border-radius: 20px;
}

.dicasdiv {
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:#008B8B;
    justify-content: center;
    padding: 35px;

}

.dicas {
    background-color:#008B8B;
    font-family: poppinsmedium;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.dica1 {
    display:inline-block;
    justify-content: left;
    padding-top: 100px;
    padding-left: 55px;
    padding-bottom: 55px;
    text-align: justify;

}

.dica1-titulo{
    
    flex-direction:row;
    font-family: poppinsbold;
    font-size: 25px;
    color: #7FFFD4;
}


.dica2 {
    display:inline-block;
    justify-content: left;
    padding-top: 100px;
    padding-left: 55px;
    padding-bottom: 55px;
    text-align: justify;

}

.dica2-titulo {
    font-family: poppinsbold;
    font-size: 25px;
    color: #7FFFD4;
}

.dica3 {
    display: ;
    flex-direction: row;
    justify-content: left;
    padding-top: 100px;
    padding-left: 55px;
    padding-bottom: 55px;
    text-align: justify;

}

.dica3-titulo {
    font-family: poppinsbold;
    font-size: 25px;
    color: #7FFFD4;
}



.dica4 {
    display:inline-block;
    justify-content: left;
    padding-top: 100px;
    padding-left: 55px;
    padding-bottom: 55px;
    text-align: justify;

}

.dica4-titulo {
    font-family: poppinsbold;
    font-size: 25px;
    color: #7FFFD4;
}


.rodape-form{
    width: 100%;
    display: flex;
    background-color:#008B8B; 

}

.rodape {
    display: flex;
    color: white;
    margin-top: 200px;
    margin-bottom: 105px;
    transform: translateX(120%);
    border: 2px solid #7FFFD4;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    
    

}

.rodape:hover {
    background-color: #7FFFD4;
    color: white;
   
}

#feedback {
    color: white;
    cursor: pointer;
    text-decoration-line: none;
}



